


<h1>{{title }}</h1>
<p>Welcome to {{title }}</p>
<h3 style="text-align: center">Status: <span id="status"></span></h3>

<ul class="people_list">
  {{#each users}}
      <li>{{this.email}}</li>
  {{/each}}
</ul>

<!--<div id="gameBoard" style="width: 600px; height: 600px;background: #235678; margin: 0 auto;"></div>-->
<!--
<p>PGN: <span id="pgn"></span></p>-->



