<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chessboard-0.3.0.css">
  {{#if ENV_DEVELOPMENT}}
      <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


{{{body}}}


</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--<script src="/js/chess.js"></script>
<script src="/js/chessboard-0.3.0.min.js"></script>-->
<!--<script src="/js/default.js"></script>-->
<script src="/socket.io/socket.io.js"></script>

</html>
