

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <h3 style="text-align: center">Status: <span id="status"></span></h3>
  <div id="gameBoard" style="width: 600px; height: 600px;background: #235678; margin: 0 auto;"></div>

  <p>PGN: <span id="pgn"></span></p>
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="/js/chess.js"></script>
  <script src="/js/chessboard-0.3.0.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/default.js"></script>


